.shadowBox {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to top,
    var(--mantine-color-black) 5%,
    transparent 40%
  );
}

.infoBox {
  position: absolute;
  bottom: 0;
}
