/* body {
  background-color: #02040f;
  color: #e5dada;
} */

.movie-logo-wrapper {
  position: absolute;
  bottom: 50px;
  width: 280px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 201;
}

.movieCardBorderBox {
  position: absolute;
  height: 375px;
  width: 100%;
  border: 1px outset rgba(255, 255, 255, 0.2);
  border-radius: var(--mantine-radius-md);
}

.movieCardImageBox {
  position: relative;
  height: 375px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--mantine-radius-md);
}
