.movieCardBorderBox {
  position: absolute;
  height: 240px;
  width: 160px;
  border: 1px outset rgba(255, 255, 255, 0.2);
  border-radius: var(--mantine-radius-md);
}

.movieCardImageBox {
  position: relative;
  height: 240px;
  width: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--mantine-radius-md);
}
