.movieCardImageBox {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--mantine-radius-sm);
  aspect-ratio: 2 / 3;
}

.movieCardBorderBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px outset rgba(255, 255, 255, 0.2);
  border-radius: var(--mantine-radius-sm);
}
